<div class="jumbotron text-center">
	<h1>Doing more, together</h1>
	<p><a class="btn btn-primary btn-lg" role="button" href="/charities">
	         Start Giving Today</a></p>
</div>

 <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h1 class="text-center landing-icon"><i class="glyphicon glyphicon-heart"></i></h1>
          <h2>Causes You Care About</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">See Charities &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h1 class="text-center landing-icon"><i class="glyphicon glyphicon-ok"></i></h1>
          <h2>No Amount is Too Small</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h1 class="text-center landing-icon"><i class="glyphicon glyphicon-upload"></i></h1>
          <h2>$1,000,000 and Counting</h2>
          <p>Give Love Laught has collected more than $1,000,000 for great causes and local charities. Contribute today and make our world a better place.</p>
          <p><a class="btn btn-default" href="#" role="button">Get Started &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Give Love Laugh Foundation. Produced during Startup Weekend 2014 at CSULA, powered by Google for Entrepreneurs.</p>
      </footer>
    </div> <!-- /container -->
