<h1>About us</h1>

<p>Give Love Laugh enables small monthly donations from individuals to fund big causes for the public good.</p>

<h1>Team</h1>
<ul>
  <li>Conrad Steinbrueck: Product owner</li>
  <li>Exequiel Ramirez: Business development</li>
  <li>Stephen Doeve: Product designer</li>
  <li>Daniel Lu: Web developer</li>


</ul>
