<div class="page-header">
  <h1>Contact</h1>
</div>

<div class="row">
  <div class="col-md-8">
  	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6610.199584839492!2d-118.16933724770915!3d34.066956027470596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c5a285c456e3%3A0x2afcd137f76a39d6!2sCalifornia+State+University+Los+Angeles!5e0!3m2!1sen!2sus!4v1403996684155" width="500" height="500" frameborder="0" style="border:0"></iframe>
  </div>
  <div class="col-md-4">
  	<p>We want to hear from caring people like you.</p>
  	<p><strong>Give Love Laugh</strong><br>
  		5151 State University Dr,<br>
  		Los Angeles, CA 90032
  	</p>
  	<p>Phone: (323) 555-1212</p>
  	<p>Email: <a href="info@givelovelaugh.org">info@givelovelaugh.org</a></p>
  </div>
</div>
